[2017-06-27 13:25] kukel opened #1 "Multi-tenant support"
For almost all of my/our applications (SAAS/Cloud/... solutions) we have one instance of an application running for multiple customers/tenants. One colum in the relevant tables contains a key to the customer that actually owns that data (multi-tenant shared schema).  Would be great if OptimusFaces (or maybe OmniPersistence?) would have explicit support for this to (besides being able to do it in c

[2017-06-27 22:03] BalusC commented on #1
Thanks for compliments :) It's not yet finished though. And then I need to test with MyFaces and EclipseLink too. Any feedback, improvements and new features is always welcome at this stage.

I'll keep this feature request in mind.

[2017-07-20 08:11] escanda opened #2 "Editing support"
For years, Netbeans with its horrible code generator has been the mayor of the city. You are close to change that.

It could be fantastic if optimusfaces had a **edit** attribute plus some kind of **edit-type** at the column level instead of the primefaces facets mechanism - much simpler - in order to decide wich input widget to show.

Thanks a lot for this project 👍

[2017-07-20 08:15] BalusC commented on #2
I'll definitely keep this in mind.

On Thu, Jul 20, 2017, 10:11 Guillermo C <notifications@github.com> wrote:

[2017-10-10 19:00] mydeadlyvenoms opened #3 "f:attribute exception"
Hi there

I just reimplemented all my datatables using OptimusFaces and basically everything went very well.
Using `<f:attribute name="reflow" value="true" />` as documented produces the following exception.

Thank you very much.

[code]

[2017-10-10 19:02] mydeadlyvenoms opened #4 "searchable exception"
Hi there

I just reimplemented all my datatables using OptimusFaces and basically everything went very well.
Using `searchable="true"` as documented produces the following exception.

Thank you very much.

[code]

[2017-10-10 20:01] BalusC commented on #3
That had to be `<f:attribute name="reflow" value="#{true}" />`.

[2017-10-10 20:03] BalusC commented on #3
Fixed with https://github.com/omnifaces/optimusfaces/commit/15033092b1e7c1a9fe90ce8291b2dbf73ab12c3a

[2017-10-10 20:03] #3 closed

[2017-10-11 07:01] mydeadlyvenoms commented on #3
Hi @BalusC
Perfect, works like a charm! Thank you.

[2017-10-11 07:09] mydeadlyvenoms commented on #4
Hi @BalusC

I just tried your fix, I guess we are a step further now.
After hitting "search" the following exception occures:

[code]

[2017-10-11 07:14] mydeadlyvenoms opened #5 "Column Toggler, Exporter and Full-Text Search aren't placed inside the table header"
Hi @BalusC
I just tried to combine `searchable="true"` und `exportable="true"`.
The resulting UI components aren't placed inside the table header (next to each other).
I am not sure if this is a real bug.

![image](https://user-images.githubusercontent.com/4450605/31426609-557dbac6-ae64-11e7-8c17-757339181b02.png)

Anyway, thank you for your time.

[2017-10-11 08:59] mydeadlyvenoms opened #6 "Providing specific criteria in frontend"
Hi @BalusC

Me again. I am actually not sure if this is already possible and what would be the cleanest way to solve it.
Lets say we have entities which belong to a particular user, so the datatable should only show the entities which belong to this particular user.

I tried to solve it by providing a specific criteria in the frontend - unfortunately this did't work.

How would you implement it us

[2017-10-11 12:29] BalusC commented on #5
OptimusFaces doesn't ship with any CSS. It's is up to you. You can find the necessary class names in PagedDataModel javadoc.

In this specific case, following should get you started:

[code]

[2017-10-11 22:08] BalusC commented on #6
Just an oversight. I have fixed it in OmniPersistence side: https://github.com/omnifaces/omnipersistence/commit/8c0cad6fbcf49563c887b25f41c0da543531dff3

Your code is fine.

[2017-10-12 06:57] mydeadlyvenoms commented on #6
Thank you for your response, I just tried the latest snapshot(s).
The following exception occurred.

[code]

[2017-10-12 07:01] mydeadlyvenoms commented on #5
Thank you for your response, okay I see but shouldn't these UI controls be part of the table header (`<f:facet name="header">...</f:facet>`)? Normally I would use something like the following.

[code]

[2017-10-13 18:44] BalusC commented on #6
Please retry with today's OmniUtils 0.6-SNAPSHOT.

[2017-10-13 18:44] #6 closed

[2017-10-13 18:51] BalusC commented on #5
Agreed. It was outside the header for historic reasons which isn't valid anymore these days.

[2017-10-13 18:53] #5 closed

[2017-10-13 20:45] mydeadlyvenoms commented on #6
Works! Perfect - thank you.

[2017-10-13 20:47] mydeadlyvenoms commented on #5
Looks way better now. :-)

[2017-10-13 20:51] mydeadlyvenoms commented on #4
You might need to reopen this one, this seems to be the last issue related the the global search (`searchable="true"`) function. Fixing this one might be enough for a version bump? :-)
Let me know if I can help you testing it.

[2017-10-14 11:41] BalusC commented on #4
Sorry, missed this one.

[2017-10-14 11:47] BalusC commented on #4
Exception suggests that a nested path is being used but that the child entity couldn't be found. I only can't reproduce this problem. An example model/view would be helpful to try reproducing this problem.

[2017-10-15 14:50] mydeadlyvenoms commented on #4
This is my view (one of them):

[code]

And this is the related exception:

[code]

[2017-10-15 15:02] mydeadlyvenoms commented on #4
The exception seems to happen on all my DataTables.
I am using the latest Payara version (EclipseLink).

[2017-10-15 15:39] BalusC commented on #4
What's `user.role`? An `@ElementCollection`?

[2017-10-15 15:40] BalusC commented on #4
Oh, also those without any nested entities?

[2017-10-15 16:16] mydeadlyvenoms commented on #4
Well I have nested entities on every DataTable.

Role looks like the following:

[code]

[2017-10-15 16:23] BalusC commented on #4
Ah, this rare construct is indeed not supported in `BaseEntityService`. Initially only 1:1 or 1:n relationships like `@OneToOne`, `@ElementCollection` and `@OneToMany` is supported, but not n:1 or m:n like `@ManyToOne` and `@ManyToMany`. Technically, you should present the results in the table the other way round. I will look into supporting n:1 and m:n later.

Frankly, this is a bit strange relat

[2017-10-15 16:37] mydeadlyvenoms commented on #4
Thank you for response - I will have a look at it in more detail as soon as I am back at home.
I am offline for a week now - I'll rethink my model and give you an update.
But you were right - after commenting `<op:column field="role.name" head="Role" filterable="false" sortable="false" />` out the exception disappeared.

[2017-10-15 20:30] BalusC commented on #4
OK, I'll look for implementing `@ManyToOne` support in `BaseEntityService`.

[2017-10-18 06:50] BalusC commented on #4
It appears that no changes in `BaseEntityService` are necessary for `@ManyToOne` support. It works just fine the same way as `@OneToOne`. I have in the last commit added an IT on `@ManyToOne`. You might want to check out and compare it.

Nonetheless, I'd be very interested in having a reproducer for your specific problem, just to make sure that `BaseEntityService` also covers every single corner c

[2017-10-26 14:17] mydeadlyvenoms commented on #4
Hi @BalusC

Very strange... First of all the given model looks like the following:

[code]

- A user always has exactly one role.
- A role can have several users.

All existing roles are part of the role table provided via initial INSERTs.

**User Entity**
[code]

**Role Entity**
[code]

I am using the latest Payara version and its shipped EclipseLink version.

[2017-10-31 22:42] BalusC commented on #4
Right, you seem to be making use of the EclipseLink specific feature of being able to fetch lazy relationships outside the DB session. If you were using Hibernate, you would be signaled sooner by facing a `LazyInitializationException` while opening the page with the table referring the `role.name`.

This is not part of standard JPA. The normal approach is to explicitly fetch the lazy relationship

[2017-11-01 07:01] mydeadlyvenoms commented on #4
You did it - it works! Awesome, thanks you.

[2017-11-01 07:18] #4 closed

[2017-12-01 10:07] mydeadlyvenoms opened #7 "Double Colon Notation (Object Graph Navigation)"
After reading the JavaDoc it is clear there are different ways to perform access control checks on a record level. One can use a filter within the frontend or the backend. I stuck if I would like to filter records using a Criteria in the frontend and the User Object (I would like to compare) is not directly accessible (via a Getter) of the entity.

In other words, I need to use the double colon no

[2017-12-08 21:08] BalusC commented on #7
Makes sense.

[2017-12-08 21:13] BalusC commented on #7
This is reliably to detect if it's `@OneToOne` at all levels, but not really for `@ManyToOne`.

[2017-12-08 21:48] BalusC commented on #7
Try today's 0.6-SNAPSHOT and let me know.

[2017-12-09 11:50] mydeadlyvenoms commented on #7
I just tried the latest SNAPSHOT.
The exception is gone but no results are shown, I guess something is wrong when having this criteria.
The filter on record level should work fine since it works fine when having the user field directly accessible without an additional getter (pattern from above).

[2017-12-09 11:51] mydeadlyvenoms commented on #7
I'll try to further investigate the behavior.

[2017-12-14 07:47] mydeadlyvenoms commented on #7
Hi @BalusC
I can confirm, the implemented solution works!
Thank you very much for your help.

[2017-12-14 07:50] BalusC commented on #7
Great. Thank you for the feedback.

[2017-12-14 07:50] #7 closed

[2017-12-14 10:40] mydeadlyvenoms opened #8 "Fulltext Search: @Enumerated"
I reworked my model and tried some new use-cases.
I found out that it is currently not possible to search within enums if they are declared like below:

[code]

Since the Enums are being mapped to Integers, one needs to search for a particular Integer.
Of course a workaround would be to store the Enum as String.

[2017-12-16 01:00] BalusC commented on #8
Fixed in https://github.com/omnifaces/omnipersistence/commit/79c63722a7ef68abe1b46c363c98015d3d50c6e9

[2017-12-17 13:47] mydeadlyvenoms commented on #8
I just tried your fix, the following exception occured.

[code]

[2017-12-18 00:42] BalusC commented on #8
Works on Hibernate. It looks like that EclipseLink doesn't support specifying ordinals in the query.  I'll fix this other day and add an IT.

[2017-12-18 09:41] mydeadlyvenoms commented on #8
I guess this (supporting all the various implementations) is one of the hardest parts when writing such a utility library.
At least I can contribute passively by testing all the features. :-)

[2017-12-18 11:08] BalusC commented on #8
[Almost all ITs have passed](https://travis-ci.org/omnifaces/optimusfaces/builds/317952342), only Payara+EclipseLink+PostgreSQL has trouble with sorting as it seems to sort by enum ordinal instead of by enum string:

[code]

Will look into this later, but for now the filtering should work for you.

[2017-12-18 15:23] mydeadlyvenoms commented on #8
You are right, the implemented solution works for me.
Thank you!

[2017-12-19 08:22] BalusC commented on #8
[All ITs have now passed](https://travis-ci.org/omnifaces/optimusfaces/builds/318495044).

I didn't fix sorting as this is just a technical limitation. Either enum values should be manually ordered in the enum class itself, or values should be saved as string instead of as ordinal in DB.

[2017-12-19 08:22] #8 closed

[2017-12-19 16:37] mydeadlyvenoms commented on #8
In my case sorting works. Anyway, thank you for the fix!

[2018-01-12 09:57] mydeadlyvenoms opened #9 "Duplicated entry when using global search"
When using the global search on a table a record can appear twice.
It is reproducible using the online demo of your Java EE Kickoff applicatioin.

![image](https://user-images.githubusercontent.com/4450605/34869383-046e593a-f787-11e7-9482-cf9dcab65a87.png)

[2018-01-27 16:38] #9 closed

[2018-02-02 09:23] mydeadlyvenoms opened #10 "Pagination Issue Filtering Enum"
Today I found out that filtering on enum columns (normal columns but field is `@Enumerated`) does not update the Pagination.
Both searches do not have any matches and do not show any rows.

# "Non Enum" Column
![image](https://user-images.githubusercontent.com/4450605/35725609-3b46632c-0802-11e8-84e6-5a8f8b3da0d9.png)

# "Enum" Column
![image](https://user-images.githubusercontent.com/4450605/3572

[2018-02-02 14:42] mydeadlyvenoms commented on #7
Hi @BalusC
I tried another couple of things today using OptimusFaces and I found out that the fix doesn't work anymore if the model makes use of entity inheritance. I'll try to further investigate and keep you posted. Maybe you already have an idea - might be that I am completely on the wrong track. :-)
Current situation is that the resulting `op:dataTable` is always empty when querying the sub-en

[2018-02-03 13:20] BalusC commented on #10
Reproduced.

[2018-02-03 13:31] #10 closed

[2018-02-05 08:15] mydeadlyvenoms commented on #10
I can confirm the implemented solution works fine!
As usual, thank you very much :-)

[2018-02-05 08:30] mydeadlyvenoms commented on #7
I just did a few more tests and it really seems so depend on the entity inheritance (via extends, mappedsuperclass seems to work fine).
Do you have any pointers where I can find the responsible pieces of code (within OmniPersistence)?
Maybe it has something todo with reflection(s)?
BTW: Can you please open the issue again - maybe others have similar problems. Or let me know if I better create a ne

[2018-02-05 11:52] BalusC commented on #7
It's consulted by available Many/OneToOne mappings on the entity. If there
is none, it won't find it. It cannot be done via reflection because it
doesn't reveal entity mapping path.

On Mon, Feb 5, 2018, 09:30 Damiano Esposito <notifications@github.com>
wrote:

[2018-02-05 14:12] mydeadlyvenoms commented on #7
Thank you for your response. Okay I see. The strange thing is there is no direct Many/OneToOne mapping even within the "parent" entity - this is the reason why I created the additional getUser method (which works fine when using it as criteria in the backing bean). The only problem is that the inheriting entity cannot make use of it (the resulting dataTable is always empty).

[2018-02-20 08:04] mydeadlyvenoms opened #11 "Show Enum via toString() instead of name()"
When using columns implemented as enums, filtering applies to the `toString()` value, which is great. Wouldn't it make sense to also use the `toString()` value of an enum instead of `name()` within the view? I know a possible "workaround" is to create a custom facelet tag.

[2018-02-20 08:17] mydeadlyvenoms opened #12 "exportable=false is ignored"
When using DataTables users usually have an additional column containing a button to trigger actions on a particular entry / row.

Something like:
[code]

When setting `exportable` to `false` the column still gets exported which results in a CSV containing entries like the following:

[code]

[2018-02-23 11:06] mydeadlyvenoms opened #13 "Empty id attribute is not allowed"
When using a `op:dataTable` within a `rowExpansion` or a `modal` (triggered by a button within another `op:dataTable`, e.g., "view details") an exception like the following occurs.

[code]

[2018-02-25 18:51] BalusC commented on #11
Clever.

[2018-02-25 18:51] #11 closed

[2018-02-25 19:11] BalusC commented on #12
Added, thanks!

[2018-02-25 19:11] #12 closed

[2018-02-25 19:17] BalusC commented on #13
Which OmniFaces version? A possibly related issue on `<o:tagAttribute>` was fixed in 2.6.9-SNAPSHOT and 3.1-SNAPSHOT.

[2018-02-26 08:33] mydeadlyvenoms commented on #11
Hi @BalusC
I can confirm it works for `Enum`(s), can you also enable it for `@ElementCollection`(s) containing Enum(s)?
Thank you very much for your help!

[2018-02-26 09:50] mydeadlyvenoms commented on #13
Hi @BalusC, `2.6.8`. I would love to give the SNAPSHOT a try.
The `2.6.9-SNAPSHOT` is currently not available via Sonatype or am I missing something?
Thank you very much for your help!

[2018-02-26 14:33] mydeadlyvenoms opened #14 "Ability to add additional buttons via f:facet"
OptimusFaces allows to add additional buttons to the `op:dataTable` header via `<f:facet name="header">...</f:facet>`. It would be nice if the additional buttons are placed inside the resulting `<div class="ui-datatable-actions ui-helper-clearfix">...</div>`. Currently the resulting table header looks like the following:

![image](https://user-images.githubusercontent.com/4450605/36675816-51da9354

[2018-03-01 13:45] mydeadlyvenoms opened #15 "multiViewState via f:attribute does not work"
Hi @BalusC
Today I tried to use the `multiViewState` option of PrimeFaces like the following:
`<f:attribute name="multiViewState" value="#{true}" />`

The cookies are getting created but the dataTables state does not survive a page reload.

[2018-03-03 10:04] BalusC commented on #13
Right, autodeploy works now only for 3.x. I've just manually deployed it: https://oss.sonatype.org/content/repositories/snapshots/org/omnifaces/omnifaces/2.6.9-SNAPSHOT/

[2018-03-03 10:09] BalusC commented on #14
You can now use `<ui:define name="actions">` for this instead of `<f:facet name="header">`.

[2018-03-03 10:09] #14 closed

[2018-03-03 10:19] BalusC commented on #15
Duplicates https://github.com/primefaces/primefaces/issues/2155

[2018-03-03 10:19] #15 closed

[2018-03-05 13:48] mydeadlyvenoms commented on #14
Hi @BalusC
Thank you for the additional feature!
There is still a line break due to the `<div>...</div>` created by the `toggler`. When changing the `<div>...</div>` to` <span>...</span>` the line break is gone. Please let me know if I can further assist!

[2018-03-05 13:51] mydeadlyvenoms commented on #15
Ouch! Didn't see this one, thank you.

[2018-03-05 16:28] mydeadlyvenoms commented on #13
I did various tests today. The issue is still present.

What I did:

[code]

[2018-03-20 11:53] kukel opened #16 "Add build-in value based paging instead of offset"
It should be possible to use value based paging in the PrimeFaces LazyDatamodel and it could (if I analyzed the code correctly) be done in a generic way as well just like OptimusFaces currently does for offset based paging. Would be cool to have this.

https://blog.novatec-gmbh.de/art-pagination-offset-vs-value-based-paging/

Maybe I'll try do create something over the weekend and send a pull requ

[2018-03-24 14:35] Rapster commented on #13
You're not having exception even though you didn't set Id on the first dataTable? I'm saying this because id has no default value set on `op:dataTable`

[2018-03-24 16:15] BalusC commented on #16
Non-trivial but certainly doable if we use PK.

[2018-03-24 17:38] kukel commented on #16
I already downloaded the source of OptimusFaces to start experimenting.
Also for the multi-tenant part

[2018-03-24 19:58] mydeadlyvenoms commented on #13
Sorry for the confusion.
I just wanted to show how I nested the components (see the `...`).
Of course I set the mandatory `id`.

[2018-03-24 20:00] mydeadlyvenoms commented on #14
@BalusC can we reopen this one?

[2018-03-24 20:01] mydeadlyvenoms commented on #11
@BalusC can we also reopen this one (`@ElementCollection` is missing)?

[2018-03-24 20:47] BalusC commented on #11
Fixed.

[2018-03-24 21:22] BalusC commented on #14
Sorted out now.

[2018-03-25 17:24] BalusC commented on #13
Sorry, can't reproduce your problem. Even not when using OmniFaces 2.6.8.

I guess your view composition involves more than just the above shown `<op:dataTable>` snippet. Please create a standalone (templateless) XHTML file which demonstrates the exact problem.

[2018-03-26 07:43] mydeadlyvenoms commented on #14
Thank you very much, I can confirm that it works.

[2018-03-26 07:44] mydeadlyvenoms commented on #11
Same here, I can confirm that it works. 👍

[2018-03-26 07:45] mydeadlyvenoms commented on #13
I'll create a standalone XHTML file as soon as possible and give you an update. Thank you.

[2018-03-26 08:15] Rapster commented on #13
@mydeadlyvenoms you can use https://github.com/primefaces/primefaces-test which set up quickly a "test" environnement. I won't be surpried if you can't reproduce it, I have myself  issues regarding facelet tags and default id

- `java.lang.IllegalStateException: L’ID de composant «criteria_form:j_id2» a déjà été détecté dans la vue.` Id already present in the view
- and another problem where the i

[2018-03-26 08:23] mydeadlyvenoms commented on #13
Yesterday I manually updated to JSF 2.3 (but still using Payara on Java EE 7) and the Issue was resolved. Unfortunately this is currently not an option in our project. I'll try to create a reproducer anyway.

[2018-04-03 13:26] mydeadlyvenoms opened #17 "Deduplicate List (iterable)"
I was wondering if it is possible to extend the `iterable` feature to deduplicate (something like `SELECT DISTINCT ...` when using SQL) a list of elements. I think there are several situations where this feature could be helpful.

[2018-04-03 14:38] mydeadlyvenoms commented on #13
This seems to be the simplest piece of code I can provide to reproduce the issue. @Rapster the PrimeFaces stuff did not work due to CDI issues...
I am on Java EE 7 on Payara 4.1.2.181. As I already mentioned JSF 2.3 seems to fix the issue.

# XHTML
[code]

# Exception
[code]

[2018-04-03 14:51] Rapster commented on #13
Sorry @mydeadlyvenoms I forgot about Omnifaces 2.x using CDI. Indeed primefaces-test does not include CDI

[2018-04-03 15:24] mydeadlyvenoms commented on #13
It is weird since it is almost the same as the snippet I originally posted.
Lets see if @BalusC can reproduce it, otherwise the backing beans may be part of the problem...

[2018-04-15 11:23] mydeadlyvenoms commented on #13
Today I migrated the codebase to Java EE 8 including JSF 2.3 using Payara 5.181 and the issue does still exist. Can someone else also reproduce it?

[2018-05-11 11:45] mydeadlyvenoms opened #18 "Custom actions do not work without exportable or searchable"
`<ui:define name="actions">`...`</ui:define>` does not work without setting `exportable` or `searchable` to true.

[2018-05-15 01:00] BalusC commented on #18
This is less or more a technical limitation. It's not possible to check whether a specific `<ui:define>` is defined. In order to support alone `<ui:define name="actions">` without searchable/exportable, it would be necessary to always declare the `<f:facet name="header">` of the underlying `<p;dataTable>`. But its renderer has the nasty behavior that it will always add some markup to it even thoug

[2018-05-15 01:03] BalusC commented on #17
This kind of violates the Law of Demeter. The best is to prepare the model exactly as you'd like the view to present it. I.e. the view should not at all manipulate the model.

I'd therefore rather not implement it. Just fix it in the model side.

[2018-05-15 01:03] #17 closed

[2018-05-15 06:31] mydeadlyvenoms commented on #17
Thank you very much for your response @BalusC. Of course, your explanation makes sense but let’s consider the following. Disclaimer: Sorry for the weird scenario (I have a better one in a real-world situation, but it is too cumbersome to explain).

Let’s consider the following scenario: You have a specific group of people (GROUP <-1---*-> PERSON) and now you would like the list all the genders (MA

[2018-05-17 07:06] mydeadlyvenoms opened #19 "Wrong Pagination Backend Filtering"
Hi @BalusC
I found an interesting bug today, I already reported something similar in the past (#10).
I tried the backend filter feature like the following.

**EntityAService**
[code]

**EntityABacking**
[code]

**View**
![image](https://user-images.githubusercontent.com/4450605/40161448-0f32cf5e-59b1-11e8-88ee-a3bd7685562f.png)

The pagination shows the total amount of entities (without the filter

[2018-05-19 10:20] mydeadlyvenoms commented on #19
Latest tests are showing that there might be a general problem when using backend filtering and pagination.

[2018-06-06 00:50] BalusC commented on #19
Indeed, the row counter seems to ignore the QueryBuilder.

[2018-06-06 01:51] BalusC commented on #19
Confirmed, execution of the `QueryBuilder` is skipped for row counter when there are no criteria specified via `PagedDataModel.lazy(...).criteria(...)`. This was initially done for performance reasons.

It's now fixed in OmniPersistence side.

[2018-06-06 01:51] #19 closed

[2018-06-06 07:14] mydeadlyvenoms commented on #19
Thank you very much for your help.
I created a new issue inside the OmniPersistence Projekt: https://github.com/omnifaces/omnipersistence/issues/15

Please let me know if I can help you testing it.

[2018-06-11 17:29] mydeadlyvenoms opened #20 "DataExporter Pre/PostProcessor"
Hi @BalusC
Is there a way to enable p:dataExporter customizations? Due to the abstraction of the dataExporter it is currently not possible to pass attributes / values or am I missing something?

Thank you very much for your help!

[2018-07-30 22:42] BalusC commented on #13
Can you still reproduce it with OmniFaces 2.7 or 3.2?

[2018-07-30 23:05] #18 closed

[2018-07-30 23:06] BalusC commented on #18
I have added `<op:dataTable ... actionable="true">` for this specific case.

Not nice, but there's no other way without JSF impl specific hacks.

[2018-07-31 00:41] #20 closed

[2018-07-31 00:42] BalusC commented on #20
[code]

[2018-07-31 06:58] mydeadlyvenoms commented on #18
Hi @BalusC thank you for your help, unfortunately the `actionable` param seems not to trigger as the `<ui:define name="actions">` is still gone after removing exportable and searchable. Am I missing something?

[2018-07-31 07:02] mydeadlyvenoms commented on #13
Hi @BalusC, yes I can still reproduce the issue when using all the latest OmniFaces versions.

[2018-07-31 18:38] BalusC commented on #18
Build failed so the SNAPSHOT JAR with the fix wasn't created. I will fix failing build later.

[2018-07-31 22:30] BalusC commented on #16
Added to OmniPersistence in https://github.com/omnifaces/omnipersistence/commit/cd0f318eb2c97c9113eb425920227310106e0678

[2018-07-31 22:31] #16 closed

[2018-08-03 11:19] mydeadlyvenoms opened #22 "java.util.NoSuchElementException: No value present"
I just tried the latest SNAPSHOT (new pagination) and the following exception occurred.

# Steps to Reproduce

1. Sort by any column

1. Use the pagination

# Exception
[code]

[2018-08-03 14:50] Edubits commented on #16
Nice one! It seems to work, but only if you go from page 1 to 2, to 3, etc. If you go back a page (or jump to a random page) results are not what you would expect. In that case it still uses the values from the last entity on the previous page, even if that page is actually the next page.

[2018-08-03 15:06] Edubits commented on #16
I'm also wondering if the following line in `BaseEntityService.buildRange()`needs brackets around the left side of the `&&`:
```if (hasJoins || page.getOffset() > 0 && page.getLastId() == null)```
Otherwise you'll get both the `setFirstResult` and value based paging together.

[2018-08-03 22:35] BalusC commented on #22
Possibly related: https://github.com/omnifaces/omnipersistence/issues/19

Please retry.

[2018-08-04 14:50] mydeadlyvenoms commented on #22
The issue does still exist, I just tried it again now.

[2018-08-09 21:28] BalusC commented on #16
Fixed and improved in https://github.com/omnifaces/omnipersistence/commit/946e02bc4d20097284c34d008f92b41d0b342b34 and https://github.com/omnifaces/optimusfaces/commit/400223935a27a76e0eeb67b563eef2c919ec0c28

[2018-08-10 22:38] BalusC commented on #22
And now? I have reworked value based pagination yesterday.

[2018-08-14 06:19] mydeadlyvenoms commented on #22
Hi @BalusC, sorry for the delay - I tried it again, the issue does still exist.

[2018-08-14 06:33] BalusC commented on #22
Can you please update the stack trace?

[2018-08-15 09:06] mydeadlyvenoms commented on #22
Yes sure, here you go:

[code]

[2018-08-15 09:08] mydeadlyvenoms commented on #13
Update: The issue is still reproducible using Payara 5.182. @BalusC were you able to reproduce it using my snippet?

[2018-08-22 12:03] Edubits opened #25 "Value based paging breaks when using DTOs ordered by a custom field"
When having a table which uses a DTO (extending the base entity) value based paging will break when the table is sorted by a field that only exists in the DTO. This happens because value based paging tries to find that field on the base entity.

Using the example from the PagedDataModel Javadoc this would be an order by `YourEntityDTO::getTotalPrice`.

Exception thrown:
[code]

[2018-09-02 23:51] BalusC commented on #25
Fixed in https://github.com/omnifaces/omnipersistence/commit/f97fceaad35a5e27fa3ce0b87bf131b9d8d29bd9

[2018-09-02 23:51] #25 closed

[2018-09-02 23:52] BalusC commented on #22
I couldn't reproduce it until someone else reported the same issue with a clear description of the cause: https://github.com/omnifaces/optimusfaces/issues/25

This has been fixed. Can you retry now?

[2019-08-02 11:15] BalusC opened #26 "Wrong rowCount when custom restrictions are performed in (Mapped)QueryBuilder"
When (Mapped)QueryBuilder is used which introduces new criteria, the rowCount in LazyPagedDataModel is off

[2019-08-02 18:55] #26 closed

[2019-10-23 17:23] Logicko opened #27 "FETCH JOIN - QueryException: fetch not allowed in subquery from-elements"
Trying to use PagedDataModel and display this relationship :
`	@OneToMany(mappedBy = "user", fetch = LAZY, cascade = ALL, orphanRemoval = true)
	@Cache(usage = TRANSACTIONAL)
	private List<LoginToken> loginTokens = new ArrayList<>();`

`	@ManyToOne(optional = false)
	@Cache(usage = TRANSACTIONAL)
	private User user;`

...in the dataTable as :

`<k:column field="loginTokens.type" type="list" />`

T

[2020-01-07 13:30] mydeadlyvenoms opened #28 "Support for Upcoming PrimeFaces 8.0 Release"
I did a few tests using the Omni*-Suite and the upcoming PrimeFaces 8.0 (currently in RC2) release. Seems like most of the feature do still work however, filtering and sorting seems to be broken due to the changes within PrimeFaces (see https://github.com/primefaces/primefaces/wiki/Migration-Guide).

[2020-01-08 10:31] #22 closed

[2020-01-08 13:12] mydeadlyvenoms opened #29 "Filtering on 'boolean' and 'bigint' does not work"
Hi everyone

I did a few experiments using the latest release and found out that filtering on non Strings seems to be broken. Am I missing something or is this already known? According to the documentation this should actually work.

Thank you very much for your help!

# 'boolean'
[code]

# 'bigint'
[code]

[2020-03-17 23:22] open-gdsn commented on #28
8.0 has been released. Let me see what I can come up with as a patch... Nice homework during https://www.youtube.com/watch?v=uo7HB-slsm4

[2020-03-25 21:07] kukel commented on #28
I (Same user as @open-gdsn, different account) have made some small changes to `LazyPagedDataModel` so OptimusFaces works with PF 8.0... I still have to find some creative solution so it can still work with older PF versions. Reason for this is that I want to provide more features that can be of interest to users of older PF versions as well and I don't think OptimusFaces (or I for that matter) wa

[2020-03-25 21:25] kukel commented on #28
Seems to be sorting is not yet fully working. Some thing to look into tomorrow

[2020-03-26 09:31] kukel commented on #28
Weird, sorting seems to be working now... Without any changes... will investigate more

[2020-03-26 09:37] kukel commented on #29
I have Enums and a Date and those fails as well. Will look into this.  Is your type boolean or Boolean? (and BigInt I assume)

[2020-03-26 09:42] kukel commented on #13
This happens to me too from time to time when there are some errors in field names etc... I don't have a current failing case at hand but I suspect it is related to PF doing model processing in the render phase.

[2020-03-26 09:44] mydeadlyvenoms commented on #13
Same here it happens from time to time. But I cannot provide a stable reproducer. @BalusC was also not able to reproduce it I guess. @kukel does the error still occur when using PF8?

[2020-03-26 09:48] mydeadlyvenoms commented on #29
It is actually a `boolean` and a `long`, I used the terms of Postgres sorry.

[2020-03-28 19:50] BalusC commented on #28
I'll also take a look :+1:

[2020-03-28 20:03] #28 closed

[2020-03-28 20:06] BalusC commented on #28
I'll switch IT tests to use PF 8.0

[2020-03-28 20:23] BalusC commented on #28
IT tests have been switched to use PF 8.0 :+1:

[2020-03-28 20:28] BalusC commented on #29
I'll take a look :+1:

[2020-03-28 21:05] BalusC commented on #29
This problem is two-fold:

1) EclipseLink doesn't support [`Expression#as()`](https://jakarta.ee/specifications/persistence/2.2/apidocs/javax/persistence/criteria/Expression.html#as(java.lang.Class)) (Hibernate does)
2) PostgreSQL is quite strict when query tries to convert a specific type to string so `LIKE` could be used. This is transparently performed/tolerated in H2 and MySQL without needing

[2020-03-28 21:44] #29 closed

[2020-03-28 21:45] BalusC commented on #29
I've fixed it in OmniPersistence side, it indeed didn't support primitive types.

[2020-03-30 15:31] mydeadlyvenoms commented on #28
@BalusC nice one, seems to work fine! :-)

[2020-04-01 14:48] mydeadlyvenoms commented on #29
Hi @BalusC I did a few tests and it looks like there are still some issues with respect to 'long'. But the exception is different. I'll test the booleans now.

# long
[code]

[2020-04-01 15:47] mydeadlyvenoms opened #31 "The class 'org.omnifaces.component.input.Form' does not have the property 'value'"
I did a few more tests with respect to filtering and sorting after migrating to PrimeFaces 8 and using the latest snapshot.
The following exception occurs as soon as I call a backing from within a row when filtering is active.

# Exception
[code]

[2020-04-04 11:28] #31 closed

[2020-04-04 11:28] BalusC commented on #31
Fixed, thanks for the report!

[2020-04-08 08:24] mydeadlyvenoms opened #32 "org.postgresql.util.PSQLException: ERROR: operator does not exist: bigint ~~ character varying"
I did a few tests and it looks like there are still some issues with respect to 'long'. But the exception is different. I'll test the booleans now.

# long
[code]

[2020-04-11 18:10] #32 closed

[2020-04-11 18:11] BalusC commented on #32
It was overlooked in one place. Fixed now.

[2020-04-28 11:33] mydeadlyvenoms opened #33 "Formatting Instant(s)"
Hi

I am currently trying to format the `Instant` fields provided by OmniPersistence (e.g., `created` or `lastModified`) without success. They look like e.g., `2019-01-01T11:00:00Z`. Is there a way to "globally" format them using a `FacesConverter`?

Unfortunately the following snippet does not work.
[code]

Thank you very much for your help.

[2020-05-03 17:28] BalusC commented on #33
Works for me. Remember to explicitly use `<h:outputText>`. Without it, JSF indeed won't try to find a converter on `forClass`. See also https://stackoverflow.com/q/5539894/157882

Actually also not an OptimusFaces problem. The same problem would manifest when not using OptimusFaces.

[2020-05-03 17:28] #33 closed

[2020-09-16 16:59] Logicko opened #34 "Export all pages"
`<k:table exportType="XLS" ...>`

With this config only the first page is exported. How can we export all pages?

[2020-09-22 16:39] #34 closed

[2020-09-25 14:38] BalusC opened #35 "PagedDataModel should also support DataScroller"

[2020-10-24 13:56] #13 closed

[2020-10-24 13:57] BalusC commented on #13
It happened when `<op:dataTable value>` returns `null`.

[2020-10-24 14:32] #35 closed

[2021-01-22 15:10] mydeadlyvenoms opened #37 "PrimeFaces X Compatibility"
Since PrimeFaces released the first release candidate of the upcoming PrimeFaces X version it would be awesome to make it compatible with OptimusFaces. According to the release notes and the migration guide they implemented a few changes that impact the handling of DataTables.

[2021-01-22 15:41] BalusC commented on #37
Coincidentally I was already working on it today: https://github.com/omnifaces/optimusfaces/commit/6709f0930bf1c81bd20c2f42fa225a9144f55b08

All ITs currently already pass with OmniFaces 4.0-M4 and PrimeFaces 10.0.0-RC1 on WildFly 22.0.0.Final :)

[2021-01-22 17:56] mydeadlyvenoms commented on #37
Yeeeyy, thank you very much!

[2021-01-25 09:19] mydeadlyvenoms commented on #37
@BalusC according to the latest Jakarta EE 9 / Java 11 confusion I wanted to ask if you plan to backport the PrimeFaces X support of OptimusFaces to Java EE 8 / Jakarta EE 8 and maybe Java 8?

[2021-01-25 11:45] BalusC commented on #37
Yes, good point. PrimeFaces X has indeed also a JEE8 variant.

[2021-01-26 19:04] mydeadlyvenoms commented on #37
@BalusC please let me know if I can assist you during the tests. I have some advanced use cases of OptimusFaces and can perform some end to end tests.

[2021-01-28 18:19] BalusC commented on #37
Sorry, forgot to tell, I've already prepped a 0.15-SNAPSHOT 3 days ago.

https://github.com/omnifaces/optimusfaces/commit/0b15ed01757893f457b54fdefe376c866555c3f9

Give it a try.

[2021-01-29 15:35] mydeadlyvenoms commented on #37
No issues using the latest snapshot. Cool!

[2021-02-02 07:39] mydeadlyvenoms commented on #37
Hi @BalusC
I've been testing your SNAPSHOT since a few days now and the following `Exception` seems to appear from time to time.
Does that mean anything to you?

[code]

[2021-03-13 11:07] mydeadlyvenoms commented on #37
I tried the official PrimeFaces X release, the issue seems to persist.

[2021-04-22 11:27] mydeadlyvenoms commented on #37
Hi @BalusC do you have any plans regarding the official PrimeFaces X support? Until now the exception listed above is the only thing that seems to occur from time to time.

[2021-04-23 09:00] BalusC commented on #37
Sorry for the delay! I'll take a closer look this weekend.

[2021-04-24 13:41] BalusC commented on #37
Yup, nailed down it. I knew this outcommented line in the IT was a silent hint: https://github.com/omnifaces/optimusfaces/commit/0b15ed01757893f457b54fdefe376c866555c3f9#diff-520bbe2e98ba518fc8b345d583b74794dd01dc80664206ca284ba0ed5f32f838R1301

It has been fixed and the outcommented line has been restored and all tests now pass: https://github.com/omnifaces/optimusfaces/commit/c548b3c8d445286b87a

[2021-04-26 14:27] mydeadlyvenoms commented on #37
Thank you very much for your effort. Unfortunately the exception seems to persist. :-(

[code]

[2021-05-08 13:54] BalusC commented on #37
Yikes.

Haven't you yet been able to boil down a reproducer? I'll take a second look.

[2022-06-18 04:13] adets opened #38 "LazyPagedDataModel ordering should be exposed (or at least constructor should be public or protected)"
As of now LazyPagedDataModel (and consequently NonLazyPagedDataModel) have package-private constructors which make it impossible to inherit from them unless one wants to use the same package name. I guess the intention is to hide the implementation details and just construct the models using builders but there is one important omission with the PagedDataModel.Builder - it allows to pass criteria m

[2022-06-19 19:25] BalusC commented on #38
Point taken.

[2022-06-19 19:38] #38 closed

[2022-06-20 05:16] adets opened #39 "ClassCastException inside LazyPagedDataModel.getFilterValue"
Hi!

IMHO there is a tiny (but very problematic) bug inside this method due to `filterMeta.getFilterValue()` cast to String. Filter value is not necessary a String - it can be object of any class. Or it can be even a collection of objects (in case a custom filter facet is used with, say, p:selectCheckboxMenu). Model handles non-string filters, including collections, just fine - if not for this unf

[2022-07-21 21:09] mydeadlyvenoms commented on #37
I gave it another try using the current PrimeFaces 12.0.0-RC2 dependency and a similar exception occured.

[code]

I found out that it appears as soon as the datatable does not contain the ID column.

I.e., `<op:column field="id" head="#{text['label.id']}"/>` is missing. I hope this can serve as a small / easy reproducer.

Sorry @BalusC  I totally missed this issue. :-(

[2022-08-12 12:41] mydeadlyvenoms commented on #37
PrimeFaces 11 in combination with `<op:column field="id" head="#{text['label.id']}" visible="false"/>` works fine, can be closed. :-)

[2022-08-12 12:41] #37 closed